.cart li{
    margin-top: 10px;
    font-size: 20px;
    margin-bottom: 10px;
}

.cart button{
    font-size: 30px;
    border: 1.5px solid #ddd;
    border-radius: 25px;
    text-align: center;
    padding: 0.45rem 0.8rem;
    outline: 0;
    margin-right: 0.2rem;
    margin-bottom: 1rem;
    background: #f64749;
    color: white;
    width: 300px;
}

.cart table, .cleanCart{
   position: relative;
   left: 0%;
   font-size: 20px;
   text-align: center;
   top: 6rem;
}

.cleanCart{
    margin-top: 50px;
}

.cartIcon{
    font-size: 10vw;
    margin-bottom: 50px;
}

.emptyCart{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.order{
    text-align: center;
    position: relative;
    top: 50px;
}

.formContainer button{
    background-color: #5cb85c;
    align-content: center;
    margin-bottom: 50px;
}

.formContainer {
    position: relative;
    top: 100px;
}