.cart{
    display: flex;
    justify-content: center;
}

.buttonCart{
    display: flex;
    flex-direction: column;
}

.buttonCart a button{
    background: #91C612;
}

.cart li{
    margin-top: 10px;
    font-size: 20px;
    margin-bottom: 10px;
}

.cart__list{
    min-height: 600px;
}

.cart button{
    font-size: 20px;
    border: 1.5px solid #ddd;
    border-radius: 25px;
    text-align: center;
    padding: 0.45rem 0.8rem;
    outline: 0;
    margin-right: 0.2rem;
    margin-bottom: 1rem;
    color: white;
    width: 250px;
}

.cleanCart{
    margin-top: 50px;
}

.cleanCart button{
    background: #f64749;
}

.cartIcon{
    font-size: 10vw;
    margin-bottom: 50px;
}

.emptyCart{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 600px;
}

.emptyCart button{
    background: red;
}
