.productos__margin{
    margin-right: 15px;
    margin-bottom: 15px;
}

.product__background{
    background-color: white !important;
}

.clasificacion__background{
    margin-top: 50px;
    background-color: #F4F4F4;
    padding: 50px;
    height: 990px;
}

.clasificacion__mobile--justify{
    justify-content: center;
}

.product__border{
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

@media (min-width: 992px){
    .productos .col-lg-4 {
        max-width: 30%;
    }   
}

@media (min-width: 768px){
    .col-md-6 {
    max-width: 45%;
}
}

.btn__filtrar__campos{
    opacity: .7;
    height: 35px;
}

.btn__filtrar{
    font-weight: bold;
    margin-top: 15px;
    width: 165px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clasificacion__titulo{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 30px;
}

.clasificacion__item{
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}

.clasificacion__item ul li{
    text-decoration: none;
}

.clasificacion__border{
    border-bottom: 1px solid rgba(0,0,0,.2);
    width: 95%;
    padding-bottom: 10px;
    margin-bottom: 20px;
    margin-top: 30px;
}

.clasificacion__item a{
    color: black;
    text-decoration: none;
}

.clasificacion__item a:hover{
    font-weight: bold;
}

.filtros{
    text-align: center;
}

.filtros__width{
    width: 75px;
}

.productos__flex{
    display: flex;
    flex-wrap: wrap; 
    margin-top: 50px; 
    margin-bottom: 50px;
    align-content: flex-start;
    justify-content: center;
}

.visibility{
    display: none;
}