.card{
    height: 320px ;
    padding: 10px;
}

.card-img-top{
    height: 180px;
    padding: 10px;
}

.productText{
    text-align: center;
    text-decoration: none;
}

.productMargin{
    margin-right: 15px;
    margin-bottom: 15px;
}

.productBrand{
    color: #999;;
    font-size: 18px;; 
}

.productModel{
    color: #444;
    font-size: 20px;
    font-weight: 500;
    margin: 0 0 8px;
}

.productPrice{
    color: #90c512;
    font-size: 20px;
    font-weight: 700;
}