.productDetail--border{
    border-radius: 10px;
    box-shadow: 0 0 15px #ddd;
    background: #fff;
}

.productPhoto{
    display: flex;
    align-items: center;
}

.productPhoto img{
    height: 100%;
    display: flex;
}

.productDetail--height{
    min-height: 550px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-left: 20px;
}

.productPhoto--height{
    height: 400px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 15px #ddd;
    background: #fff;
    justify-content: center;
}


.productDetail--list{
    background-color: #eee;
    height: 550px;
}

.productDetail--center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-price{
    font-size: 1rem;
    font-weight: 700;
}

.product-price span{
    font-weight: 400;
}

.price{
    font-size: 20px;
}

.price span{
    color: green;
}

.product-detail{
    margin-top: 25px;
    margin-bottom: 50px;
}

.product-detail h2{
    text-transform: capitalize;
    color: #12263a;
    padding-bottom: 0.6rem;
}

.product-detail p{
    text-indent: 15px;
}

.product-title{
    text-align: center;
    font-size: 3rem;
    text-transform: capitalize;
    font-weight: 700;
    position: relative;
    color: #12263a;
    margin: 1rem 0;
}

.product-title::after{
    margin-left: 60px;
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 75%;
    background: #12263a;
}

.purchase-info{
    margin-top: 50px;
}

.buttonsCart button{
    font-size: 20px;
    border: 1.5px solid #ddd;
    border-radius: 20px;
    text-align: center;
    padding: 0.45rem 0.8rem;
    outline: 0;
    margin-right: 0.2rem;
    margin-bottom: 1rem;
}

.goToCart{
    background-color: #f64749;
    color: white;
}

.goToHome{
    background-color: #91C612;
    color: white;
}

.buttonsCart{
    display: flex;
    justify-content: center;
}